body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--main-text-color);
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

.nav__list, .contact-list, .features__list, .product__list, .team__list, .social-net, .clients__list, .address__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link, .logo, .contact-list__link, .product__link, .social-net__link, .address__link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.hero {
  display: inline-block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px dotted blueviolet;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 40px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu .btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    margin-bottom: 302px;
  }
}

.nav__link {
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.nav__link--current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 40px;
    line-height: 1.17;
  }
  .nav__link:hover, .nav__link:focus {
    border-color: #2196f3;
    outline: 1px solid #2196f3;
  }
}

.nav__item:hover .nav__link,
.nav__item:focus .nav__link {
  color: #2196f3;
}

.logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__accent {
  color: #000000;
}

.header__logo {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .header__logo {
    width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .logo__footer {
    display: block;
    text-align: center;
  }
}

.logo__accent--footer {
  color: #ffffff;
}

.contact-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contact-list__item:first-child {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}

.contact-list__link {
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

@media screen and (max-width: 767px) {
  .contact-list__link {
    font-size: 24px;
  }
  .contact-list__link:hover, .contact-list__link:focus {
    outline: 1px solid #2196f3;
  }
}

.contact-list__item:hover .contact-list__link,
.contact-list__item:focus .contact-list__link {
  color: #2196f3;
  outline: 1px solid #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-list__link--menu {
    font-size: 34px;
    color: #2196f3;
  }
  .contact-list__link--menu:hover, .contact-list__link--menu:focus {
    outline: 1px solid #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contact-list__icon {
    display: none;
  }
}

.hero {
  color: #ffffff;
  background-color: #2f303a;
  letter-spacing: 0.06em;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroimg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg.jpg);
}

@media screen and (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  width: 360px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.61;
  }
}

.btn {
  display: inline-block;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-menu {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: transparent;
}

.btn-menu:hover .btn-menu__icon-menu,
.btn-menu:focus .btn-menu__icon-menu {
  fill: #2196f3;
}

.btn-menu:hover .btn-menu__icon-close,
.btn-menu:focus .btn-menu__icon-close {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--submit:hover, .btn--submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .btn--submit {
    margin: 0 auto;
  }
}

.btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.btn-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-modal__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover .btn-modal__icon,
.btn-modal:focus .btn-modal__icon {
  fill: #2196f3;
}

.btn--prtfolio {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  min-width: auto;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--prtfolio:hover, .btn--prtfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features__list {
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .features__title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .features__description {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product__container {
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .product__container {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item:not(:last-child) {
  margin-right: 30px;
}

.product__thumb {
  position: relative;
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__container {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .team__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
  }
}

.team__list {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__description {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team__description {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

.team__name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__position {
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-net--menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-net__item:not(:last-child) {
  margin-right: 10px;
}

.social-net__item--menu:not(:last-child) {
  margin-right: 20px;
}

.social-net__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 44px;
  width: 44px;
  background-color: none;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net__link:hover, .social-net__link:focus {
  background-color: #2196f3;
}

.social-net__link--background {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .social-net__link--menu {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }
  .social-net__link--menu:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 255, 0.7);
    margin-right: 10px;
  }
  .social-net__link--menu:focus {
    outline: 1px solid #2196f3;
  }
}

.social-net__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net__link:focus .social-net__icon,
.social-net__link:hover .social-net__icon {
  fill: #ffffff;
}

.social-net__icon--fill {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .clients__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .clients__list {
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:hover .clients__icon {
  fill: #2196f3;
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address-block {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .address-block {
    margin-bottom: 60px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .address {
    text-align: center;
  }
}

.address__location {
  color: #ffffff;
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .address__location {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 480px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .join-block {
    margin-bottom: 60px;
  }
}

.join-block__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .join-block__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.submit-block__input {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 50px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .submit-block__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.submit-block__input:hover, .submit-block__input:focus {
  outline: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196f3;
}

.submit-block__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-block__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-block__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-block__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms, scale 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, scale 250ms, -webkit-transform 250ms;
  transition: transform 250ms, opacity 250ms, scale 250ms;
  transition: transform 250ms, opacity 250ms, scale 250ms, -webkit-transform 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  opacity: 1;
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}

.modal__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal__label {
  font: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  margin-left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover ~ .modal__icon,
.modal__input:focus ~ .modal__icon {
  fill: #2196f3;
}

.textarea__field {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea__field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea__field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea__field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea__field:hover, .textarea__field:focus {
  border-color: #2196f3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__link {
  color: #2196f3;
  margin-left: 5px;
}

.checkbox__icon {
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox__input:focus + .checkbox__icon {
  border-color: #2196f3;
}

.btn--checkbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */