.btn {
  display: inline-block;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-third;
  background-color: $color-accent;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.btn-menu {
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;

  border: none;

  & .btn-menu__icon-close {
    display: none;
  }

  &.is-open .btn-menu__icon-close {
    display: block;
  }

  &.is-open .btn-menu__icon-menu {
    display: none;
  }
  &:hover .btn-menu__icon-menu,
  &:focus .btn-menu__icon-menu {
    fill: $color-accent;
  }

  &:hover .btn-menu__icon-close,
  &:focus .btn-menu__icon-close {
    fill: $color-accent;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn--submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  box-shadow: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and(min-width:480px) {
    margin: 0 auto;
  }
}

.btn__icon {
  margin-left: 10px;
  fill: $color-third;
}

.btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  // margin: 0;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-modal:hover &,
  .btn-modal:focus & {
    fill: $color-accent;
  }
}

// PORTFOLIO
.btn--prtfolio {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-primary;
  background-color: $color-addbackground;
  min-width: auto;
  cursor: pointer;
  border: none;
  padding: 6px 22px;

  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-third;
    background-color: $color-accent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
