.card {
  display: inline-block;
  @extend %link;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and(min-width:480px) {
    justify-content: center;
    width: 100%;
  }
  @media screen and(min-width:768px) {
    width: 100%;
  }
}
.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__wrap {
  position: absolute;
  display: flex;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card:hover &,
  .card:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
.card__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $color-third;
  margin: 0;
}

.card__name {
  padding: 24px 20px;
  border-right: 1px solid $card-portfolio;
  border-left: 1px solid $card-portfolio;
  border-bottom: 1px solid $card-portfolio;
  @media screen and(min-width:768px) {
    width: 100%;
  }
}

.card__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  color: $color-primary;
}
.card__type {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $color-secondary;
  margin: 0;
}
