.card-set {
  @extend %ul;

  @media screen and(min-width:768px) {
    // justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and(min-width:1200px) {
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.card-set__item {
  @media screen and(min-width:480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin: 0;

    margin-left: 30px;
    margin-top: 30px;
  }
}
