.hero {
  @extend %img;

  color: $color-third;
  background-color: $color-background;
  letter-spacing: 0.06em;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);

  @media screen and(min-width:480px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__title {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  width: 360px;

  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;

  @media screen and(min-width:480px) {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.61;
  }
}
