.logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $color-accent;
  @extend %link;

  &__accent {
    color: $color-logo;
  }
}

.header__logo {
  display: block;
  min-height: 60px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}

.logo__footer {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }
}

.logo__accent--footer {
  color: $color-third;
}
