$color-primary: #212121;
$color-secondary: #757575;
$color-accent: #2196f3;
$color-third: #ffffff;
$color-background: #2f303a;
$color-addbackground: #f5f4fa;
$color-logo: #000000;
$line-portfolio: #ececec;
$card-portfolio: #eeeeee;
$color-icon: #afb1b8;
